body{
    background: url('http://localhost:8000/app/background');
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    margin: 0;
    height: 100vh;
}

nav{
    background-color: rgb(0, 0, 189);
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 5vmin;
    align-items: center;
}

h1{
    font-size: 4vmin;
    margin: 0;
    margin-left: 1vw;
    color: white;
    font-variant: small-caps;
}