body{
    background-color: #ffffff;
    color: white;
    margin: 0;
    height: 100vh;
}

nav{
    background-color: #0100b0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 5vh;
    align-items: center;
}

h1{
    font-size: 3vh;
    margin-top: 1vh;
    margin-left: 1vw;
    color: white;
    font-variant: small-caps;
}